<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Yabalash!.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
				<key>dateExpires</key>
				<string>19/02/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>map_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E9ED549FE18D34E68DAAC5AC5D16A8ECE963C43</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>9Y4FWAZPRJ.com.example.yabalashMobileApp.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>9Y4FWAZPRJ</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f4ac46ea-4757-466c-a6c8-56f398d20799</string>
						<key>dateExpires</key>
						<string>19/02/2024</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.example.yabalashMobileApp.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9Y4FWAZPRJ</string>
						<key>name</key>
						<string>khaled Mustafa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9Y4FWAZPRJ.com.example.yabalashMobileApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9Y4FWAZPRJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7a6069bd-b079-4c5c-96af-f4adf300ca3e</string>
				<key>dateExpires</key>
				<string>19/02/2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.yabalashMobileApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9Y4FWAZPRJ</string>
				<key>name</key>
				<string>khaled Mustafa</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
